[DEFAULT]
# root directory of the webserver
##production
#WEB_ROOT = /website
##dev machines
WEB_ROOT = /var/www


# root directory of the media & location of the thumbnail cache, relative
# to the web server root
##Luke-crunchbang
#PIC_URL = /pics
#CACHE = /pics/_fam_pics_cache
##dot
PIC_URL = /images
CACHE = /images/_fam_pics_cache
##macbook
PIC_URL = /Users/pr1373/Pictures
CACHE = /Users/pr1373/Pictures/_fam_pics_cache

EXTENSIONS = ['jpg', 'JPG', 'MPG', 'MOV', '3gp']
